/**/*.lock              # lock files
/**/.*                  # dot files
/**/*.log               # log files
/gulpfile.*             # gulpfiles

/src/                   # src dir
/test/                  # test dir
/coverage/              # coverage dir
/node_modules/          # node_modules
